{% extends 'catalog/base_contacts.html' %}

{%  block content %}
<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td class="w-25">Страна</td>
                    <td>Россия</td>
                </tr>
                <tr>
                    <td class="w-25">Автор</td>
                    <td>Полина</td>
                </tr>
                <tr>
                    <td class="w-25">Адрес</td>
                    <td>Омск, Россия</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">

</div>

{%  endblock %}
