{% extends 'catalog/base_products.html' %}
{% load my_tags %}
{% block content %}
    {% for object in object_list %}
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="col-md-4">

                    <div class="card mb-4 box-shadow">
                        <img src="{{ object.product_image|mediapath }}" class="img-thumbnail" alt="IMAGE" width="100%">
                        <div class="card-body">
                            <p>{{ object.products_name }}</p>
                            <p>{{ object.description }}</p>
                            <p>{{ object.category }}</p>
                            <p>{{ object.date_created |date:'d-m-Y' }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}